{name, "erl_img"}.
{description, "Erlang image processing stuff (bmp, gif, jpeg, png, xpm, tiff, mpeg) - based on jungerl's erl_img-1.6"}.
{homepage, "https://github.com/mochi/erl_img"}.
{url, {git, "https://github.com/mochi/erl_img.git", {branch, "master"}}}.
{requires, [agner, "atleast:0.4.11"]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
